@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/900.css';

body{
  font-family: 'Roboto', sans-serif;
  background-color: #F3B664;
  color: white;
}

.container{
  padding-top: 80px;
}

